.example-card {
  max-width: 80%;
  margin: 50px 50px 50px 50px;
}
.example-header-image {
  background-image: url('https://cdn.mos.cms.futurecdn.net/YhZo9RHnU6uvcFbwWsp62e-320-80.jpg');
  background-size: cover;
}