.example-card {
  max-width: 80%;
  margin: 50px 50px 50px 50px;
}
.example-header-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/The_Earth_seen_from_Apollo_17.jpg/320px-The_Earth_seen_from_Apollo_17.jpg');
  background-size: cover;
}